@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 580px) {
	.cv {
		@apply flex flex-wrap;
	}

	.side {
		flex: 3;
		@apply rounded-bl-xl;
	}

	.side,
	.photo img {
		@apply rounded-tl-xl;
	}

	.main {
		flex: 5;
		@apply rounded-tr-xl;
		@apply rounded-br-xl;
	}
}

@media screen and (max-width: 579px) {
	.side,
	.photo img {
		@apply rounded-tr-xl;
		@apply rounded-tl-xl;
	}

	.main {
		@apply rounded-br-xl;
		@apply rounded-bl-xl;
	}
}

:root {
	@apply bg-stone-800;
}

.root {
	margin: 0;
}

.header {
	@apply flex items-center justify-between;
	@apply sticky top-0 left-0;
	z-index: 2;
}

h1, h2, h3 {
	@apply font-extrabold;
	@apply p-0 m-0;
}

.title {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title h3 {
	@apply uppercase font-bold;
	@apply text-left text-xl;
	@apply text-slate-800;
	@apply border-solid border-b-2;
	@apply border-slate-800;
	flex: 1;
}

.content {
	@apply py-1 px-2 m-0.5;
	height: auto;
	white-space: initial;
	/* word-break: break-all; */
	word-wrap: normal;
	@apply text-slate-700;
}

.photo img {
	width: 100%;
	aspect-ratio: 1 / 1;
}

.photo form {
	@apply bottom-2 right-2;
	@apply bg-cyan-600;
	z-index: 1;
}

.edit-btn, .settings-btn {
	@apply justify-center items-center;
	@apply m-0 p-1;
}

button > img {
	@apply w-6 h-6;
}

form {
	@apply p-1 m-1;
}

form > div,
form > div label {
	display: flex;
}

form > div label {
	flex: 1;
}

input:not([type="submit"]), textarea, select {
	width: min(400px, 100%);
	@apply p-2.5 m-1;
	@apply rounded-md;
	@apply text-white;
	@apply bg-cyan-700;
	@apply placeholder-cyan-900;
	outline: none;
	border: none;
}

.main input:not([type="submit"]) {
	@apply bg-gray-200;
	@apply text-slate-700;
	@apply placeholder-gray-400;
}

input[type=submit] {
	@apply px-7 py-2.5;
	@apply text-white;
	@apply bg-cyan-800;
	@apply m-3 font-bold;
	border: none;
	font-size: 16px;
	letter-spacing: 0.6px;
	font-family: sans-serif;
	text-transform: capitalize;
	@apply rounded-full;
}
