.side {
	/* background: rgba(23, 120, 75); */
	color: white;
	flex: 1;
	border-top-left-radius: 12px;
	padding-bottom: 25px;
}

.side h3 {
	color: #ddd;
}

.side .photo {
	padding: 0;
	position: relative;
	margin-bottom: 25px;
}


textarea {
	height: 150px;
	border: none;
	width: 100%;
}
